---
import SideNav from "@components/SideNav.astro";
import TOC from "@components/TOC.astro";

const { doc } = Astro.props;
const { Content, headings } = await doc.render();
---

<div class="flex h-full overflow-y-hidden">
  <SideNav />
  <div
    class="small-scrollbar flex h-full w-full justify-center overflow-y-auto px-8 py-8 sm:px-16 xl:gap-24"
  >
    <!-- mdx Content-->
    <article class="prose prose-slate h-fit w-full max-w-6xl">
      <h1 class="-mb-2">{doc.data.title}</h1>
      <p class:list={[doc.data.arkDocs !== undefined ? null : "-mb-4"]}>
        {doc.data.description}
      </p>
      {
        doc.data.arkDocs !== undefined ? (
          <div class="-mb-4">
            <a
              target="_blank"
              rel="noreferrer"
              class="rounded-lg border-2 border-surface-3 p-2 text-xs no-underline"
              href={doc.data.arkDocs}
            >
              Ark
            </a>
          </div>
        ) : null
      }
      <Content />
    </article>
    <!-- On This Page  -->
    <div
      class="sticky top-0 hidden w-fit items-center px-12 lg:flex lg:flex-col"
    >
      <TOC pageHeadings={headings} />
    </div>
  </div>
</div>
