---
import SideNav from "@/components/SideNav.astro";
import TOC from "@/components/TOC.astro";

const { doc } = Astro.props;
const { Content, headings } = await doc.render();
---

<SideNav />
<div
  id="docs-main"
  class="small-scrollbar xl:docMax overflow-y-auto py-8 md:flex md:pl-64"
>
  <!-- mdx Content-->
  <article class="prose prose-slate w-full max-w-5xl mx-auto px-6 md:px-16 pb-8">
    <h1 class="-mb-2">{doc.data.title}</h1>
    <p class:list={[doc.data.arkDocs !== undefined ? null : "-mb-4"]}>
      {doc.data.description}
    </p>
    {
      doc.data.arkDocs !== undefined ? (
        <div class="-mb-4">
          <a
            target="_blank"
            rel="noreferrer"
            class="rounded-lg border-2 border-surface-3 p-2 text-xs no-underline"
            href={doc.data.arkDocs}
          >
            Ark
          </a>
        </div>
      ) : null
    }
    <Content />
  </article>
</div>
<!-- On This Page  -->
<div
  id="toc"
  class="fixed bottom-0 rMax top-16 hidden w-36 flex-col pt-8 xl:flex"
>
  <TOC pageHeadings={headings} />
</div>
