---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import "../styles/global.css";
import Nav from "@/components/Nav.astro";
---

<!DOCTYPE html>
<html class="min-h-screen flex bg-surface" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>{title}</title>
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
    <link
      rel="preload"
      href="https://rsms.me/inter/inter.css"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />
  </head>

  <body class="flex flex-1 flex-col small-scrollbar">
    <Nav />
    <main class="relative w-full flex-1 bg-surface max-w-7xl mx-auto">
      <slot />
    </main>
  </body>
</html>
