@import 'tailwindcss';
@source '../../packages/components/src/**/*.{ts,tsx}';
@plugin "@tailwindcss/typography";

@variant dark ([data-theme="dark"] &);

:root {
  /* --base: 9999px; */
  /* SURFACES (neutrals & elevation) */
  --surface: #fff; /* app/page background */
  --surface-2: oklch(92.2% 0 0); /* card / raised 1 */
  --surface-3: oklch(87% 0 0); /* card / raised 2 */
  --surface-overlay: oklch(55.6% 0 0); /* modals, popovers */
  --surface-disabled: oklch(87% 0 0); /* disabled state */

  /* CONTENT (foreground) */
  --fg: oklch(14.5% 0 0); /* primary reading text */
  --fg-muted: oklch(70.8% 0 0); /* secondary text, captions */
  --fg-inverse: #ffffff; /* text on dark / brand surfaces */
  --fg-disabled: oklch(87% 0 0); /* explicit disabled state text */

  /* OUTLINES & DIVIDERS */
  --border: oklch(87% 0 0); /* generic 1px rules, inputs */
  --focus: oklch(68.5% 0.169 237.323); /* focus ring / a11y outline */


  /* INTERACTIVE ROLES (paired bg / fg / border) */
  --primary: #000000;
  --primary-fg: #ffffff;
  --primary-border: #000000;

  --secondary: oklch(87% 0 0);
  --secondary-fg: #000000 ;
  --secondary-border: oklch(87% 0 0);

  /* STATUS / FUNCTIONAL */
  --positive: oklch(72.3% 0.219 149.579);
  --positive-fg: #0a0a0a;
  
  --warning: oklch(90.5% 0.182 98.111);
  --warning-fg: #0a0a0a;
  
  --danger: oklch(63.7% 0.237 25.331);
  --danger-fg: #ffffff;
}

[data-theme='dark'] {
  /* SURFACES (neutrals & elevation) */
  --surface: oklch(14.5% 0 0); /* app/page background */
  --surface-2: oklch(20.5% 0 0); /* card / raised 1 */
  --surface-3: oklch(26.9% 0 0); /* card / raised 2 */
  --surface-overlay: #0f172a; /* modals, popovers */
  --surface-disabled: oklch(20.5% 0 0); /* disabled state */

  /* CONTENT (foreground) */
  --fg: #f8fafc; /* primary reading text */
  --fg-muted: #94a3b8; /* secondary text, captions */
  --fg-inverse: #0a0a0a; /* text on dark / brand surfaces */
  --fg-disabled: #64748b; /* explicit disabled state text */

  /* OUTLINES & DIVIDERS */
  --border: oklch(43.9% 0 0); /* generic 1px rules, inputs */
  --focus: #0ea5e9; /* focus ring / a11y outline */

  /* INTERACTIVE ROLES (paired bg / fg / border) */
  --primary: #ffffff;
  --primary-fg: #0a0a0a;
  --primary-border: #09e57b;

  --secondary: #1e293b;
  --secondary-fg: #f8fafc;
  --secondary-border: #334155;

  /* STATUS / FUNCTIONAL */
  --positive: #6dd32e;
  --positive-fg: #0a0a0a;
  
  --warning: #ede328;
  --warning-fg: #0a0a0a;
  
  --danger: #ff5238;
  --danger-fg: #ffffff;
}

@theme {
  --color-surface: var(--surface);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
  --color-surface-overlay: var(--surface-overlay);
  --color-surface-disabled: var(--surface-disabled);
  --color-fg: var(--fg);
  --color-fg-muted: var(--fg-muted);
  --color-fg-disabled: var(--fg-disabled);
  --color-fg-inverse: var(--fg-inverse);
  --color-border: var(--border);
  --color-focus: var(--focus);
  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-primary-border: var(--primary-border);
  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);
  --color-secondary-border: var(--secondary-border);
  --color-positive: var(--positive);
  --color-positive-fg: var(--positive-fg);
  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);
  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --radius-button: var(--base);
  --radius-card: calc(var(--base) / 2000); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--surface);
    --foreground: var(--fg);
  }
}

html,
body {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

html {
  scroll-behavior: auto;
  /* Prevent elastic scrolling on Safari */
  -webkit-overflow-scrolling: auto;
}

body {
  background: var(--surface);
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif;
  /* Additional Safari fixes */
  -webkit-overflow-scrolling: auto;
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.react-aria-DropIndicator[data-drop-target] {
  outline: 1px solid var(--primary);
}
