---
import { Button } from "@/components/base/button";
import Layout from "../layouts/Layout.astro";
import { Droplet, Github, Moon, Paintbrush, Sun, Twitter } from "lucide-react";
import { Icon } from "@iconify/react";
import { IconTooltip } from "@/components/IconTooltip";
import { Heart } from "lucide-react";
import { Coffee } from "lucide-react";
import { Cards } from "@/components/Cards";
import LandingCarousel from "@/components/LandingSwiper";
---

<script>
  const themeBtn = document.getElementById("themeToggle");
  themeBtn?.addEventListener("click", function () {
    const moon = document.getElementById("moon");
    const sun = document.getElementById("sun");

    if (moon?.classList.contains("hidden")) {
      moon?.classList.remove("hidden");
      sun?.classList.add("hidden");
    } else {
      sun?.classList.remove("hidden");
      moon?.classList.add("hidden");
    }
  });
</script>

<Layout title="BaseLayer">
  <div class="w-full flex-col items-center gap-12">c
    <div
      class="flex h-full w-full flex-col items-center justify-center text-start"
    >
      <div class="flex h-screen w-full flex-col justify-center md:flex-row">
        <div
          class="absolute top-0 flex w-full max-w-[calc(100vw-24px)] justify-between px-4 pt-4 md:px-8"
        >
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              viewBox="0 0 24 24"
              ><path
                fill="#09e57b"
                d="M12 16c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-12c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2M6 16c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m12 12c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2Z"
              ></path></svg
            >

            <p
              class="flex items-center gap-2 text-2xl font-bold tracking-tighter text-fg"
            >
              BaseLayer
            </p>
          </div>
          <div class="flex items-center">
            <a href="/docs" class="mr-4 text-fg">Docs</a>
            <button
              id="themeToggle"
              data-toggle-theme="dark,light"
              data-act-class="ACTIVECLASS"
            >
              <Moon id="moon" className="text-fg" />
              <Sun id="sun" className="hidden text-fg" />
            </button>
          </div>
        </div>
        <div
          class="flex w-full flex-col items-center justify-center px-12 text-center lg:w-1/2"
        >
          <p
            class="flex flex-col gap-4 text-7xl font-bold tracking-tight text-fg xl:text-9xl"
          >
            <span>UI Redefined</span>
          </p>
          <p class="max-w-48 mt-8 text-xl text-fg-4">
            Deliver faster and with more freedom than ever. All without
            ever leaving your editor.
          </p>
          <div
            class="mt-12 flex w-full flex-col justify-center gap-4 lg:flex-row"
          >
            <a href="/docs/getting-started/intro" class="inline-block">
              <Button className="p-8 w-full" size="lg">Get Started</Button>
            </a>
            <Button
              intent="secondary"
              state="outline"
              className="p-[30px]"
              size="lg"
            >
              <a
                class="flex items-center gap-2"
                href="https://github.com/zwgnr/BaseLayer"
              >
                <span class="flex items-center">Github</span>
                <Github className="h-6 w-6" />
              </a>
            </Button>
          </div>
        </div>
        <div class="hidden w-1/2 items-center justify-center pr-8 lg:flex">
          <div class="h-1/2 w-full rounded-xl border border-border shadow-xl">
            <LandingCarousel client:only="react" />
          </div>
        </div>
      </div>

      <div class="mb-16 mt-16 flex max-w-7xl flex-col gap-8 text-center">
        <p class="font-serrif text-base uppercase tracking-wider text-fg-4">
          Powered by
        </p>
        <div class="flex gap-8">
          <IconTooltip
            iconName="devicon-plain:vscode"
            client:only="react"
            name="VsCode"
            color="#037ef3"
          />
          <IconTooltip
            iconName="simple-icons:tailwindcss"
            client:only="react"
            name="TailwindCSS"
            color="#7dd3fc"
          />
          <IconTooltip
            iconName="simple-icons:react"
            client:only="react"
            name="React"
            color="00d8ff"
          />
          <IconTooltip
            iconName="simple-icons:adobe"
            client:only="react"
            name="React Aria"
            color="red"
          />
        </div>
      </div>
      <div class="lg:-p-0 w-full max-w-7xl overflow-x-hidden p-8">
        <p class="mb-12 w-full text-center text-xl font-bold text-fg-3">
          Reusable multi part components, all controlled by a VScode Extension.
        </p>
        <Cards client:only="react" />
      </div>
    </div>
    <footer
      class="flex w-full flex-col items-center justify-between gap-8 border-t-2 border-border px-8 py-12 md:flex-row"
    >
      <div class="flex gap-4 text-fg-3">
        <a href="https://github.com/zwgnr/BaseLayer"
          ><Github className="h-6 w-6" /></a
        >
        <a href="https://twitter.com/zwagnr/"><Twitter className="h-6 w-6" /></a
        >
      </div>
      <p class="flex flex-wrap gap-2 text-fg-3">
        Made with <span><Heart /></span>and <span><Coffee /></span> by <a
          >Zach Wagner</a
        >
      </p>
    </footer>
  </div>
</Layout>
