---
import { Button } from "@/components/base/button";
import Layout from "../layouts/Layout.astro";
import { Droplet, Github, Paintbrush, Twitter } from "lucide-react";
import { LandingTabs } from "@/components/LandingTabs";
import { Icon } from "@iconify/react";
import { IconTooltip } from "@/components/IconTooltip";
import { Heart } from "lucide-react";
import { Coffee } from "lucide-react";
---

<Layout title="BaseLayer">
  <div class="w-full flex-col items-center gap-12">
    <div
      class="flex h-full w-full flex-col items-center justify-center text-start"
    >
      <div class="flex h-screen w-full flex-col justify-center md:flex-row">
        <div
          class="absolute top-0 flex w-full max-w-[calc(100vw-24px)] justify-between px-4 pt-4 md:px-8"
        >
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="#09e57b" d="M12 16c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-12c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2M6 16c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m12 12c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2Z"/></svg>

            <p
              class="flex items-center gap-2 text-2xl font-bold tracking-tighter"
            >
              BaseLayer
            </p>
          </div>
          <div class="flex items-center">
            <a href="/docs" class="mr-4">Docs</a>
            <button
              class="flex justify-center gap-2 rounded-xl"
              id="button"
              aria-describedby="tooltip"><Paintbrush /></button
            >
            <div class="absolute hidden rounded-xl" id="tooltip" role="tooltip">
              <div class="flex w-48 flex-col items-start rounded-xl p-4">
                <button
                  class="w-full rounded-xl"
                  id="set-light"
                  data-set-theme="light"
                  data-act-class="ACTIVECLASS">Light</button
                >
                <button
                  class="w-full rounded-xl"
                  id="set-dark"
                  data-set-theme="dark"
                  data-act-class="ACTIVECLASS">Dark</button
                >
                <button
                  class="w-full rounded-xl"
                  id="set-candy"
                  data-set-theme="candy"
                  data-act-class="ACTIVECLASS">Candy</button
                >
              </div>
            </div>
            <a
              class="mx-4 rounded-xl"
              href="https://github.com/zwagnr/BaseLayer"
            >
              <Github />
            </a>
            <a class="mx-4 rounded-xl" href="https://twitter.com/zwagnr">
              <Twitter />
            </a>
          </div>
        </div>
        <div
          class="flex w-full flex-col items-center justify-center px-12 text-center md:w-1/2"
        >
          <p
            class="flex flex-col gap-4 text-6xl font-bold tracking-tight text-fg lg:text-9xl"
          >
            <span> Creativity</span>
            <span>Unleashed</span>
          </p>
          <p class="max-w-48 mt-8 text-xl text-fg-4">
            Unlock limitless potential and unparalleled convenience, right
            within your editor. Build stunning apps, libraries, and design
            systems effortlessly. Your next big idea starts here, with BaseLayer.
          </p>
          <div
            class="mt-12 flex w-full flex-col justify-center gap-4 md:flex-row"
          >
            <a href="/docs/getting-started/intro" class="inline-block">
              <Button className="p-8 w-full" size="lg">Get Started</Button>
            </a>
            <Button className="p-8 bg-surface-2" size="lg">
              <a
                class="flex items-center gap-2"
                href="https://github.com/zwagnr/BaseLayer"
              >
                <span class="flex items-center text-fg-5">Github</span>
                <Github className="h-6 w-6 text-fg-5" />
              </a>
            </Button>
          </div>
        </div>
        <div class="justify-centerm hidden w-1/2 bg-primary p-24 md:flex">
          <img class="min-w-[500px] object-scale-down" src="/ptnTransp.png" />
        </div>
      </div>

      <div class="mb-16 mt-16 flex max-w-7xl flex-col gap-8 text-center">
        <p class="font-serrif text-base uppercase tracking-wider text-fg-4">
          Powered by
        </p>
        <div class="flex gap-8">
          <IconTooltip
            iconName="devicon-plain:vscode"
            client:only="react"
            name="VsCode"
          />
          <IconTooltip
            iconName="simple-icons:tailwindcss"
            client:only="react"
            name="TailwindCSS"
          />
          <IconTooltip
            iconName="simple-icons:react"
            client:only="react"
            name="React"
          />
          <IconTooltip
            iconName="simple-icons:adobe"
            client:only="react"
            name="React Aria"
          />
        </div>
      </div>
      <div class="lg:-p-0 w-full max-w-7xl overflow-x-hidden p-8">
        <p class="mb-12 text-xl font-bold text-fg-3">
          Style Recipes and Components, all powered by a VScode Extension.
        </p>
        <LandingTabs client:only="react" />
      </div>
    </div>
    <footer
      class="flex w-full flex-col items-center justify-between gap-8 border-t-2 px-8 py-12 md:flex-row"
    >
      <div class="flex gap-4 text-fg-3">
        <Github className="h-8 w-8" />
        <Twitter className="h-8 w-8" />
      </div>
      <p class="flex flex-wrap gap-2 text-fg-3">
        Made with <span><Heart /></span>and <span><Coffee /></span> by <a
          >Zach Wagner</a
        >
      </p>
    </footer>
  </div>
</Layout>
