---
import { button } from "@/potions/button";
import Layout from "../layouts/Layout.astro";
import { ColorPicker } from "@/ui/React/ColorPicker/ColorPicker";
import { Github, Twitter } from "lucide-react";
import { LandingTabs } from "@/components/LandingTabs";
import { Icon } from "@iconify/react";
import { IconTooltip } from "@/components/IconTooltip";
import { Heart } from "lucide-react";
import { Coffee } from "lucide-react";
---

<Layout title="PotionUI">
  <div
    class="mt-12 -mb-24 flex h-full w-full flex-col items-center p-8 md:p-16 lg:mt-24"
  >
    <div
      class="flex w-full max-w-5xl flex-col items-center gap-12 overflow-hidden text-center lg:h-[calc(100vh-14rem)]"
    >
      <h1 class="text-6xl font-extrabold tracking-tight text-text lg:text-8xl">
        Creativity <span
          class="bg-gradient-to-r from-red-500 via-primary to-accent bg-clip-text text-transparent"
          >unleashed.</span
        >
      </h1>
      <p class="max-w-3xl text-lg tracking-wide text-text-5 lg:text-xl">
        Unlock limitless potential and unparalleled convenience, right within your
        editor. Build stunning apps, libraries, and design systems effortlessly.
        Your next big idea starts here, with Potion UI.
      </p>
      <div class="flex w-full justify-center gap-6">
        <button
          class="font-regular rounded-lg bg-primary px-6 py-3 text-base hover:bg-primary-400"
          ><a href="docs/">Get Started</a></button
        >
        <button
          class="rounded-lg border border-border bg-surface px-6 py-3 text-base hover:bg-surface-2"
        >
          <a
            class="flex items-center gap-2 text-text-4"
            href="https://github.com/zwagnr/PotionUI"
          >
            <span class="flex items-center gap-2">Github</span>
            <Github className="h-4 w-4" />
          </a>
        </button>
      </div>
      <div class="mb-16 mt-16 flex flex-col gap-8">
        <p class="font-serrif text-base uppercase tracking-wider text-text-4">
          Use your favorite tools
        </p>
        <div class="flex gap-8">
          <IconTooltip client:only="react" name="VsCode">
            <span>
              <Icon
                icon="devicon-plain:vscode"
                className="h-12 w-12 text-text-5 hover:text-blue-500"
                client:load
              />
            </span>
          </IconTooltip>
          <IconTooltip client:only="react" name="TailwindCSS">
            <span>
              <Icon
                icon="simple-icons:tailwindcss"
                className="h-12 w-12 text-text-5 hover:text-sky-500"
                client:load
              />
            </span>
          </IconTooltip>
          <IconTooltip client:only="react" name="PandaCSS (soon)">
            <span>
              <Icon
                icon="simple-icons:foodpanda"
                className="h-12 w-12 text-surface-3"
                client:load
              />
            </span>
          </IconTooltip>
          <IconTooltip client:only="react" name="React">
            <span>
              <Icon
                icon="simple-icons:react"
                className="h-12 w-12 text-text-5 hover:text-blue-500"
                client:load
              />
            </span>
          </IconTooltip>
          <IconTooltip client:only="react" name="Solid">
            <span>
              <Icon
                icon="simple-icons:solid"
                className="h-12 w-12 text-text-5 hover:text-blue-500"
                client:load
              />
            </span>
          </IconTooltip>
          <IconTooltip client:only="react" name="Vue">
            <span>
              <Icon
                icon="simple-icons:vuedotjs"
                className="h-12 w-12 text-text-5 hover:text-emerald-500"
                client:load
              />
            </span>
          </IconTooltip>
        </div>
      </div>
    </div>
    <div class="w-full overflow-x-hidden">
      <p class="mb-12 text-xl font-bold text-text-3">
        Style Recipes and Components, all powered by a VScode Extension.
      </p>
      <LandingTabs client:only="react" />
    </div>
  </div>
  <footer
    class="flex w-full flex-col items-center justify-between gap-8 border-t-2 px-8 py-12 md:flex-row"
  >
    <div class="flex gap-4 text-text-3">
      <Github className="h-8 w-8" />
      <Twitter className="h-8 w-8" />
    </div>
    <p class="flex flex-wrap gap-2 text-text-3">
      Made with <span><Heart /></span>and <span><Coffee /></span> by <a
        >Zach Wagner</a
      >
    </p>
  </footer>
</Layout>
