---
import { Github, Menu, X, Twitter, Sun } from "lucide-react";
import { SearchDialog } from "./SearchDialog";
import { getCollection } from "astro:content";
import { version } from "../../package.json";
import { Moon } from "lucide-react";

const allDocs = await getCollection("docs");
const pathname = Astro.url.pathname
---

<script>
  // Toggle menu
  const menuBtn = document.querySelector("#menuToggle");
  menuBtn?.addEventListener("click", function () {
    const sideNavMenu = document.getElementById("side-nav");
    const docsMain = document.getElementById("docs-main");
    const menuIcon = document.getElementById("menuIcon");
    const xIcon = document.getElementById("xIcon");
    const menuOpen = menuBtn?.getAttribute("aria-expanded");
    if (menuOpen === "false") {
      menuBtn?.setAttribute("aria-expanded", "true");
      menuIcon?.classList.add("hidden");
      xIcon?.classList.remove("hidden");
      sideNavMenu?.classList.remove("hidden");
      docsMain?.classList.add("hidden");
    } else {
      menuBtn?.setAttribute("aria-expanded", "false");
      menuIcon?.classList.remove("hidden");
      xIcon?.classList.add("hidden");
      sideNavMenu?.classList.add("hidden");
      docsMain?.classList.remove("hidden");
    }
  });

  const themeBtn = document.getElementById("themeToggle");
  themeBtn?.addEventListener("click", function () {
    const moon = document.getElementById("moon");
    const sun = document.getElementById("sun");

    if (moon?.classList.contains("hidden")) {
      moon?.classList.remove("hidden");
      sun?.classList.add("hidden");
    } else {
      sun?.classList.remove("hidden");
      moon?.classList.add("hidden");
    }
  });
</script>

<div
  class="sticky top-0 z-40 flex w-full items-center border-b-2 border-border bg-surface px-4"
>
  <div
    class="mx-auto flex h-16 w-full max-w-7xl flex-row items-center justify-between"
  >
    <div class="flex items-center gap-2">
      <a
        class:list={[
          "text-xl md:text-3xl font-bold tracking-tighter text-fg md:block",
          pathname === "/" ? "" : "hidden",
        ]}
        href="/"
        ><div class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 24 24"
            ><path
              fill="#09e57b"
              d="M12 16c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-12c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2M6 16c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m12 12c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0-6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2Z"
            ></path></svg
          >
          <p class="flex items-center gap-2 text-2xl">
            BaseLayer <span
              class:list={[
                "rounded-xl bg-surface-3 p-2 text-xs font-light tracking-normal",
                pathname === "/" ? "hidden" : "",
              ]}>v{version}</span
            >
          </p>
        </div>
      </a>
      <button
        id="menuToggle"
        aria-expanded="false"
        class:list={[pathname === "/" ? "hidden" : ""]}
      >
        <Menu id="menuIcon" className="block md:hidden h-8 w-8 text-fg" />
        <X id="xIcon" className="hidden h-8 w-8 text-fg" />
      </button>
    </div>
    <div class="flex flex-row items-center gap-2">
      <a
        href="/docs"
        class:list={["text-fg-4", pathname !== "/" ? "hidden" : ""]}>Docs</a
      >
      <SearchDialog searchList={allDocs} client:load />
      <button
        id="themeToggle"
        data-toggle-theme="dark,light"
        data-act-class="ACTIVECLASS"
      >
        <Moon id="moon" className="text-fg" />
        <Sun id="sun" className="hidden text-fg" />
      </button>
      <a
        class:list={[
          "rounded-xl p-2 text-fg hover:bg-surface-2",
          pathname === "/" ? "hidden" : "",
        ]}
        href="https://github.com/zwgnr/BaseLayer"
      >
        <Github />
      </a>
      <a
        class:list={[
          "rounded-xl p-2 text-fg hover:bg-surface-2",
          pathname === "/" ? "hidden" : "",
        ]}
        href="https://twitter.com/zwagnr"
      >
        <Twitter />
      </a>
    </div>
  </div>
</div>
