---
type SideNav = Record<string, { text: string; link: string }[]>;

const SIDEBAR: SideNav = {
  "Getting Started": [
    { text: "Intro", link: "/docs/getting-started/intro" },
    { text: "Overview", link: "/docs/getting-started/overview" },
    { text: "Setup", link: "/docs/getting-started/setup" },
    { text: "VScode Extension", link: "/docs/getting-started/vsc" },
  ],
  Themes: [
    { text: "Adaptive Themes", link: "/docs/themes/adaptive" },
    { text: "Customize", link: "/docs/themes/customize" },
    { text: "Generator (soon)", link: "" },
  ],
  Core: [
    { text: "Accordian", link: "/docs/components/accordian" },
    { text: "Avatar", link: "/docs/components/avatar" },
    { text: "Badge", link: "/docs/components/badge" },
    { text: "Button", link: "/docs/components/button" },
    { text: "Carousel", link: "/docs/components/carousel" },
    { text: "Checkbox", link: "/docs/components/checkbox" },
    { text: "Color Picker", link: "/docs/components/color-picker" },
    { text: "Dialog", link: "/docs/components/dialog" },
    { text: "Dropdown", link: "/docs/components/dropdown" },
    { text: "Hover Card", link: "/docs/components/hover-card" },
    { text: "Pagination", link: "/docs/components/pagination" },
    { text: "Pin Input", link: "/docs/components/pin-input" },
    { text: "Popover", link: "/docs/components/popover" },
    { text: "Number Input", link: "/docs/components/number-input" },
    { text: "Radio Group", link: "/docs/components/radio-group" },
    { text: "Range Slider", link: "/docs/components/range-slider" },
    { text: "Rating Group", link: "/docs/components/rating-group" },
    { text: "Select", link: "/docs/components/select" },
    { text: "Slider", link: "/docs/components/slider" },
    { text: "Splitter", link: "/docs/components/splitter" },
    { text: "Switch", link: "/docs/components/switch" },
    { text: "Tabs", link: "/docs/components/tabs" },
    { text: "Tags Input", link: "/docs/components/tags-input" },
    { text: "Toast", link: "/docs/components/toast" },
    { text: "Tooltip", link: "/docs/components/tooltip" },
  ],
};

const currentPage = Astro.url.pathname;
---

<div
  id="side-nav"
  class="small-scrollbar z-10 pb-24 md:pb-12 hidden w-full flex-col overflow-y-auto bg-surface-2 p-8 shadow-lg md:static md:flex md:w-80 md:bg-transparent md:shadow-none"
>
  <div class="mb-4 md:hidden">
    <a class="text-xl md:hidden font-bold text-text" href="/">PotionUI</a>
  </div>

  <ul class="nav-groups">
    {
      Object.entries(SIDEBAR).map(([header, children]) => (
        <li>
          <div class="nav-group ">
            <h2 class="text-md mb-2 font-bold text-text-3">{header}</h2>
            <ul class="mb-4">
              {children.map((child) => {
                const url = child.link;
                return (
                  <li
                    class:list={[
                      "h-8 flex items-center p-4",
                      currentPage === child.link ? "bg-primary rounded-lg" : "",
                    ]}
                  >
                    <a
                      class:list={[
                        "text-sm w-full",
                        currentPage === child.link
                          ? "font-bold text-black"
                          : "text-text-5",
                      ]}
                      href={url}
                      aria-current={currentPage === child.link ? "page" : false}
                    >
                      {child.text}
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
</div>
