---
const { heading } = Astro.props;
---

<li>
  <a href={"#" + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="ml-4 flex flex-col gap-2 mt-2">
        {heading.subheadings.map((subheading: string) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

